body {
    background-image: url(../img/food.webp);
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

header {
    background-color: rgba(46, 184, 184, 70%);
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    color: white;
}




img {
    width: 400px;
    height: auto;
}

.recipes {
    width: 33.33%;
    padding: 5px;
    float: left;
}

.tacos {
    float: right;
}
